h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: 3.25em;
}

h2 {
  border-bottom: 1px solid currentColor;
}

.document {
  margin: 0 1em;
  display: grid;
  grid-template-rows: 20em auto;
  grid-template-columns: auto;
  gap: 3em;
}
@media (min-width: 1000px) {
  .document {
    align-items: start;
    grid-template-rows: auto;
    grid-template-columns: 20em auto;
  }
}
@media (min-width: 1600px) {
  .document {
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr 2fr;
  }
}
.document article {
  margin-bottom: 4em;
}

#logo {
  margin: 0;
}
#logo a {
  border: none;
}
#logo img {
  height: 100%;
  width: 100%;
}

ul {
  padding-left: 2ch;
}

article img {
  max-width: 100%;
}

aside, article figure {
  margin: 0;
}
aside img, article figure img {
  width: 100%;
}
aside figcaption, article figure figcaption {
  text-align: center;
  font-style: italic;
}
@media (min-width: 1000px) {
  aside, article figure {
    max-width: 30%;
  }
  aside.right, article figure.right {
    float: right;
    margin-left: 1.5ch;
  }
  aside.left, article figure.left {
    float: left;
    margin-right: 1.5ch;
  }
}