@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap");
body {
  background-color: #222222;
  display: grid;
  place-items: center;
  width: 98vw;
  height: 98vh;
  font-family: "Open Sans", sans-serif;
  color: white;
}

a, a:link {
  color: currentColor;
  text-decoration: none;
  border-bottom: 0.01em dashed currentColor;
}
a:hover, a:link:hover {
  text-shadow: 0 0 0.1em #4277A5;
  border-bottom: 0.01em solid currentColor;
}

h1, h2, h3 {
  margin: 0;
  color: #4277A5;
  text-shadow: 0 0 0.2em #0007;
  font-family: "Syncopate", sans-serif;
}

h1 {
  font-size: 1.8em;
  color: #335d81;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h4, h5, h6 {
  margin: 0;
  font-family: "Krona One", sans-serif;
}