@import "variables";

h2, h3 {
	margin-top: .5em;
	margin-bottom: 1em;
}
h1 { font-size: 3.25em; }
h2 { 
	border-bottom: 1px solid currentColor;
}

.document {
	margin: 0 1em;
	display: grid;
	grid-template-rows: 20em auto;
	grid-template-columns: auto;
	gap: 3em;

	@media (min-width: 1000px) {
		align-items: start;
		grid-template-rows: auto;
		grid-template-columns: 20em auto;
	}
	@media (min-width: 1600px) {
		grid-template-rows: auto;
		grid-template-columns: 2fr 3fr 2fr;
	}

	article {
		margin-bottom: 4em;
	}
}
#logo {
	margin: 0;

	a { border: none; }
	img {
		height: 100%;
		width: 100%;
	}
}
ul {
	padding-left: 2ch;
}

article img {
	max-width: 100%;
}

aside, article figure {
	img { width: 100%; }
	margin: 0;
	
	figcaption {
		text-align: center;
		font-style: italic;
	}

	@media (min-width: 1000px) {
		max-width: 30%;
		$margin: 1.5ch;

		&.right { 
			float: right;
			margin-left: $margin;
		}
		&.left  { 
			float: left;  
			margin-right: $margin;
		}
	}
}